/* Main title */
#maintitle p {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#maintitle .big {
  font-size: 5em;
}

#maintitle .medium {
  font-size: 3em;
}

#maintitle .small {
  font-size: 2em;
}

.spacing {
  height: 100px;
}


/* centered container for vis stuff */
.vis-container {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: auto;
}


.sections {
  flex: 1;
}

.step {
  margin-bottom: 250px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

.sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

.sections .title.leastcountry {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #ff0000;
  opacity: .6;
  line-height: 1.2em;
}

.sections .title.mostcountry {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #0000ff;
  opacity: .6;
  line-height: 1.2em;
}

.sections .invis {
  font-size: 16px;
  margin-bottom: 2px;
  opacity: 0;
}

.vis {
  position:sticky;
  flex: 1;
  top: 100px;
  align-self: flex-start;
  width: 60%;
  /*background-color: #ddd; */
}

.vis-title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: .25em;
}

.vis-subtitle {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 1em;
  text-align: center;
  margin: .25em;
}

#searchA {
  position: relative;

}

#searchB {
  position: relative;

}


.wordlist {
  display: flex;
  flex-direction: column;
}

.wordentry {
  display: flex;
  flex-direction: row;
    margin-top: .25em;
  margin-bottom: .25em;
}

.wordlistHeader {
  display: flex;
  flex-direction: row;
  color: #b3b3b3;
}

.word {
  flex: 1.5;
  font-weight: bold;
}

.odds {
  flex: 1; 
}

.countrywordcount {
  flex: 1;
}

.otherwordcount {
  flex: 1;
}









